/* General Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 0.5px;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;

  background: linear-gradient(
    180deg,
    hsla(282, 26%, 55%, 1) 100%,
    hsla(200, 53%, 78%, 1) 0%
  );
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: #333;
  background: hsla(282, 26%, 55%, 1);

  font-family: "Quicksand", serif;

  background: linear-gradient(
    180deg,
    hsla(282, 26%, 55%, 1) 0%,
    hsla(200, 53%, 78%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(282, 26%, 55%, 1) 0%,
    hsla(200, 53%, 78%, 1) 100%
  );

  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a,
button {
  cursor: pointer;
}
a,
button,
img {
  display: block;
}
ul {
  list-style: none;
}
ul li a {
  color: #ffffff;
}

/* quick class */
.container {
  max-width: 1440px;
  min-width: 430px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.text-upp {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}
.text-elepse {
  display: -webkit-box;
  /* max-width: 200px; */
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  text-wrap: wrap;
  /* white-space: nowrap; */
}
/* header */
header {
  padding: 16px;
}

.header-wrap {
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  margin-inline: auto;
  padding: 18px;
}

.logo-wrap {
  width: 50px;
  padding-left: 12px;
}

.logo-wrap img {
  width: 100%;
}

.header-wrap ul {
  gap: 18px;
}

.header-wrap ul li a {
  color: black;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
}

.header-wrap ul li a:hover {
  color: white;
  background: rgba(153, 111, 171, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* toggle-button */
.toggle-wrap {
  display: none;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.toggle-wrap i {
  font-size: 24px;
  padding: 3px;
}

/* toggle-nav */
.toggle-nav {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 80px;
  display: none;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 999;
  padding: 20px;
}
.toggle-nav nav {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.toggle-nav nav ul {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.toggle-nav nav ul li {
  width: 100%;
}
.toggle-nav nav ul li a {
  font-size: 24px;
  padding: 20px 40px;
  color: black;
  transition: all 0.4s ease;
}
.toggle-nav nav ul li a:hover {
  color: rgb(153, 111, 171);
  background-color: rgba(255, 255, 255);
}

.toggle-wrap:hover .toggle-nav {
  display: block;
  opacity: 1;
}

@media (max-width: 630px) {
  /* header */
  .header-wrap nav {
    display: none;
    opacity: 0;
  }

  /* toggle */
  .toggle-wrap {
    display: block;
    opacity: 1;
  }

  /* toggle nav */
  .toggle-wrap i {
    color: rgb(80, 56, 60);
  }
  .toggle-nav nav {
    display: flex;
    opacity: 1;
  }
}

/* main content */
.content-wrap {
  justify-content: space-between;
  grid-template-columns: 3.1fr 1fr;
  gap: 20px;
}

article {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  z-index: 3;
}

/* hero-post */
.hero-post .blog-img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero-post .blog-img-wrap > img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.hero-post-over h2,
.hero-post-over p {
  color: white;
}
.hero-post .hero-post-over {
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.5) 150%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.blog-img-wrap {
  overflow: hidden;
  height: 200px;
  border-radius: 8px;
}

.blog-img-wrap img {
  width: 100%;
  border-radius: 8px;
}

.user-profile-wrap {
  align-items: center;
  gap: 16px;
}
.user-profile {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.user-profile-wrap p {
  margin-bottom: 0;
  font-weight: 800;
}
.save-wrap {
  position: relative;
  color: white;
  transition: all 0.3s ease;
  padding: 6px;
}
.save-wrap a {
  transition: all 0.3s ease;
  position: absolute;
  top: -1px;
}
.save-wrap a i {
  font-size: 20px;
  transition: all 0.3s ease;
}

.save-wrap a:nth-child(2) {
  color: rgb(153, 111, 171);
  visibility: hidden;
  opacity: 0;
}
.save-wrap:hover a:nth-child(1) {
  visibility: hidden;
  opacity: 0;
}
.save-wrap:hover a:nth-child(2) {
  visibility: visible;
  color: rgb(153, 111, 171);
  opacity: 1;
}

article h2 {
  font-size: 1.8rem;
  color: black;
  line-height: 1;
  margin: 10px 0;
}

article p {
  margin-bottom: 15px;
  word-spacing: 1.5px;
}

article time {
  display: block;
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

/* blog column */
.blog-col .hero-post-over {
  padding: 20px;
  flex-direction: column;
}
.blog-col .user-profile-wrap {
  align-items: center;
  gap: 16px;
}
.blog-col .user-profile {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.blog-col .user-profile img {
  width: 100%;
}
.blog-col .hero-post-over h2,
.blog-col .hero-post-over p {
  color: black;
}
.blog-col .save-wrap a {
  transition: all 0.3s ease;
  color: #000000;
  position: absolute;
  top: -1px;
}

.blog-col .save-wrap a:nth-child(2) {
  color: rgb(153, 111, 171);
  visibility: hidden;
  opacity: 0;
}

.blog-col .save-wrap:hover a:nth-child(2) {
  visibility: visible;
  color: rgb(153, 111, 171);
  opacity: 1;
}

.blog-col article .blog-img-wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.blog-col article .blog-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blog-col article .blog-img-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 100%,
    rgba(0, 0, 0, 0) 0%
  );
  transition: all 0.4s ease;
  z-index: 1;
  opacity: 0;
}

.blog-col article:hover .blog-img-wrap::after {
  opacity: 1;
}
.blog-col .read-more-wrap {
  justify-content: end;
}
.blog-col .read-more-wrap a {
  width: max-content;
  text-align: end;
  padding: 8px;
  background-color: rgba(153, 111, 171, 0.5);
  font-size: 14px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.blog-col .read-more-wrap a:hover {
  background-color: rgb(153, 111, 171);
}

/* aside */
aside {
  height: 500px;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(171, 210, 229, 0.5);
  padding: 8px 16px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside h3 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 1.5rem;
}

.aside-scroll {
  padding-top: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: hidden;
}

aside ul {
  padding-inline: 10px;
  height: 100%;
  overflow-y: auto;
  list-style: none;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

aside ul li a:hover {
  color: black;
}

.blog-col {
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
  margin-top: 20px;
  row-gap: 20px;
}

@media (max-width: 1150px) {
  /* blog-img-wrap */
  .hero-post .blog-img-wrap {
    height: 90dvh;
  }

  /* blog-img-wrap */
  .blog-img-wrap img {
    object-fit: cover;
  }

  /* aside */
  aside {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  /* main-content */
  .content-wrap {
    justify-content: space-between;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  /* aside */
  aside {
    height: 300px;
  }
}

/* footer */
.footer-wrap {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 8px;
  margin-bottom: 20px;
}
