/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(18, 18, 18);
  --bg-dark-subtle: rgba(18, 18, 18, 0.5);
  --bg-red: rgb(239, 70, 63);
  --text-red: rgb(239, 70, 63);
  --text-red-subtle: rgba(239, 70, 63, 0.5);
  --text-black: rgb(18, 18, 18);
  --text-black-subtle: rgba(18, 18, 18, 0.5);
  --text-white: rgb(255, 255, 255);
  --text-white-subtle: rgba(255, 255, 255, 0.5);
  --font-primary: "Poppins";
  --font-secondary: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
a,
img,
button {
  display: block;
}
ul {
  list-style: none;
}

/* quick class */
.container {
  width: 100%;
  max-width: 1440px;
  padding-inline: 40px;
  margin-inline: auto;
}
.text-upp {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}

/* main content */
/* hero section */
.hero-section {
  background: url("../images/background-image/bg-img-s1.png");
  width: 100%;
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--bg-dark-subtle);
}
/* header start */
header {
  position: relative;
}
.header-wrap {
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}
/* logo */
.logo-wrap {
  width: 150px;
  margin-left: -35px;
  overflow: hidden;
}
.logo-wrap img {
  width: 100%;
  object-fit: cover;
}
/* nav */
.header-wrap ul {
  gap: 30px;
}
.header-wrap ul li a {
  font-family: var(--font-secondary);
  padding: 8px;
}
.header-wrap ul li::after {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--bg-red);
  transition: all 0.4s ease-in-out;
}
.header-wrap ul li:hover::after {
  width: 100%;
}
/* toggle */
.toggle-wrap {
  display: none;
  opacity: 0;
  font-size: 20px;
  color: var(--text-white);
}
/* toggle overscreen */
.toggle-overscreen-wrap {
  position: absolute;
  display: none;
  opacity: 0;
  top: 140px;
  left: 0;
  width: 100%;
}
.toggle-overscreen-wrap ul {
  border-radius: 8px;
  background-color: var(--text-white-subtle);
  margin-inline: 20px;
  padding: 20px;
  display: block;
}
.toggle-overscreen-wrap ul li a {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.toggle-overscreen-wrap ul li a:hover {
  background-color: var(--bg-dark);
  color: var(--text-red);
}
.toggle-wrap:hover .toggle-overscreen-wrap {
  display: block;
  opacity: 1;
}
@media (max-width: 580px) {
  /* header start */
  /* nav */
  .header-wrap nav {
    display: none;
    opacity: 0;
  }
  /* toogle */
  .toggle-wrap {
    display: block;
    opacity: 1;
  }
  /* toggle-overscreen-wrap */
  .toggle-overscreen-wrap nav {
    display: block;
    opacity: 1;
  }
  /* header end */
}
/* header end */

/* hero content */
.hero-content-wrap {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  color: var(--text-white);
}
.hero-content {
  justify-self: end;
  grid-area: 2/7/2/11;
  text-align: end;
  row-gap: 12px;
}
.hero-content h1,
.hero-content h2 {
  font-family: var(--font-primary);
  font-weight: 600;
  text-wrap: nowrap;
}
.hero-content h1,
.hero-content h2,
.hero-content p {
  line-height: 1;
}
.hero-content h1 {
  color: var(--text-red);
  font-size: 96px;
}
.hero-content h2 {
  font-size: 72px;
}
.hero-content p,
.hero-content .go-buy-wrap {
  font-family: var(--font-secondary);
}
.hero-content p {
  font-size: 16px;
}
.hero-content .go-buy-wrap {
  margin-top: 12px;
  justify-content: end;
  gap: 20px;
}
.hero-content .go-buy-wrap a {
  padding: 12px 32px;
  transition: all 0.3s ease;
}
.hero-content .go-buy-wrap a:first-child {
  border: 2px solid var(--bg-light);
  border-radius: 40px;
}
.hero-content .go-buy-wrap a:first-child:hover {
  background-color: var(--bg-red);
  border: 2px solid transparent;
  border-radius: 40px;
}
.hero-content .go-buy-wrap a:last-child {
  background-color: var(--bg-red);
  border-radius: 40px;
  border: 2px solid transparent;
}
.hero-content .go-buy-wrap a:last-child:hover {
  border: 2px solid var(--bg-light);
}
@media (max-width: 768px) {
  /* hero content */
  .hero-content h1 {
    text-align: center;
    font-size: 66px;
  }
  .hero-content h2 {
    font-size: 52px;
  }
}
@media (max-width: 560px) {
  /* hero content */
  .hero-content-wrap {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .hero-content h1 {
    text-align: end;
    font-size: 56px;
  }
  .hero-content h2 {
    font-size: 42px;
  }
  .hero-content p {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  /* hero content */
  .hero-content .go-buy-wrap a {
    padding: 10px 30px;
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  /* hero content */
  .hero-content-wrap {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .hero-content h1 {
    text-align: end;
    font-size: 40px;
  }
  .hero-content h2 {
    font-size: 35px;
  }
  .hero-content p {
    font-size: 14px;
  }
  .hero-content .go-buy-wrap a {
    padding: 10px 30px;
    transition: all 0.3s ease;
    font-size: 14px;
  }
}
